<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width= device-width, intial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
         <title>
        </title>
                <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 

          <link rel="stylesheet" type="text/css" href="css/demo.css">
    </head>
    <body>
        <header id = "header">
             <div id = "stuck_container">
                 <div class = "block-1">
                     <div class = "container">
                         <div class = "row">
                             <div class ="logo">
                                 <h1>
                                     Marshal
                                 <span>Brokers</span></h1>
                                 <h2>Land for Sale</h2>
                                 <h3>Welcome to marshal land boker Agency</h3>
                             </div>
                         </div>
                     </div>
                 </div>
                 
                      </div> </header>
             
                 <div class = "block-2" style ="position: sticky; top: 0; z-index: 20;">
                     <div class = "container">
                      <div class = "row">
                          <div class = "">
                              
   
     <nav>   
                         
                         <ul>
                             <div class="dropdown1 col-xs-12 col-sm-12 col-md-12 " style="" >
                                 <div class="dropbtn1">Navigate to.. <i class="fa fa-list-ul" style="color: white; float: right;"></i></div>
                                 
                                  <div class="dropdown-content col-xs-12 col-sm-12 col-md-12">
        <li><a href="website.html">Home</a></li>
        <li><a href="services.html">Service</a></li>
        <li>
            <a href="about.html">About us </a>
            <ul class="dropdown">
                <li><a href="#">Laptops</a></li>
                 
                <li><a href="#">Monitors</a></li>
                <li><a href="#">Printers</a></li>
            </ul>
        </li>
                               
        <li><a href="contact.html">Contact</a></li>
                         <li><a href="properties.html">Properties</a></li>
                 <li class="current"> <a href="news.html">News</a></li>
                               </div></div></ul></nav>
                              <div class="horizontalnav ">
     <nav > 
         
                         
                         <ul>
        <li><a href="website.html">Home</a></li>
        <li><a href="services.html">Service</a></li>
        <li>
            <a href="about.html">About us </a>
            <ul class="dropdown">
                <li><a href="#">Laptops</a></li>
                 
                <li><a href="#">Monitors</a></li>
                <li><a href="#">Printers</a></li>
            </ul>
        </li>
                               
        <li><a href="contact.html">Contact</a></li>
                         <li><a href="properties.html">Properties</a></li><li>
                         <a href="news.html">News</a></li>
         </ul></nav></div></div></div></div></div> 
                     
                 
             
        
      <section id="content">
          <div class="block-41">
        <div class ="block-3">
            <div class="container">
            <div class = "row">
                <header>
                <div class = "">
                    <center> <h2>latest news</h2></center>
                    </div>
                </header>
                </div>
                <div class = "row">
                    <div class="">
                <div class=" col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 ">
                    
                    <img class="img-responsive" src ="img/index-4_img_1.jpg" alt="">
                    <a href = "#"><h3>Mauris fermentum tortor non enim </h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_2.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_3.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    </div>
                <div class=" col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 ">
                    
                    <img class="img-responsive" src ="img/index-4_img_8.jpg" alt="">
                    <a href = "#"><h3>Mauris fermentum tortor non enim </h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_4.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_1.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    </div>
            
                             <div class=" col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 ">
                    
                    <img class="img-responsive" src ="img/index-4_img_4.jpg" alt="">
                    <a href = "#"><h3>Mauris fermentum tortor non enim </h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_2.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin | </a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <img class="img-responsive" src ="img/index-4_img_5.jpg" alt="">
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    <a href = "#"><h3>whole world will become heave if we</h3></a>
                    <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris suspendisse commodo tempor sagittis!</p>
                    <p class="foot">
                       
                    Posted on October 15, 2014 by 
                    <a href="#">Admin |</a>
                    <span class="fa fa-comments-o"></span>
                    <a href="#">23</a>
                    </p>
                    </div>
                    </div></div>
                </div>
                </div>
          </div>
        </section>
       <footer id="footer">
		<div class="container">
			<div class="row">
				<div class="grid_2">
					<div class="logo">
						<h1>
							<a href="index.html">
								Marshal
								<span>Brokers</span>
							</a>
						</h1>
					</div>
				</div>
				<div class="">
					<nav>
						<ul class="footer-menu clearfix">
							<li><a href="contact.html">Contacts</a></li>
							<li class="current"><a href="news.html">news</a></li>
							<li><a href="properties.html">Properties</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="website.html">Home</a></li>
						</ul>
					</nav>
					<div class="social">
						<a href="#">Google+</a>
						<a href="#">Skype</a>
						<a href="#">twitter</a>
						<a href="#">facebook</a>
					</div>
                    <div class="grid_12 copyright">
						<p>© <span id="copyright-year">2018</span> All Rights Reserved   |   <a href="#">Privacy Policy</a></p>
							<!--{%FOOTER_LINK} -->
					</div>
				</div>
			</div>
		</div>
		
	</footer>
    </body>
</html>