<!doctype html>
 <html lang = "en">
     <head>

          <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width= device-width, intial-scale=1">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <title>
        </title>
          {% load static %}
          <link rel="stylesheet"  href="{% static 'css/demo.css' %}">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    </head>
     <body>
         <header id = "header">
             <div id = "stuck_container">
                 <div class = "block-1">
                     <div class = "container">
                         <div class = "row">
                             <div class ="logo">
                                 <h1>
                                     Marshal
                                 <span>Brokers</span></h1>
                                 <h2>Land for Sale</h2>
                                 <h3>Welcome to marshal land boker Agency</h3>
                             </div>
                         </div>
                     </div>
                 </div>
                 
                      </div>         </header>
             
                    <div class = "block-2" style ="position: sticky; top: 0; z-index: 20;">
                     <div class = "container">
                      <div class = "row">
                          <div class = "">
                              
   
     <nav>   
                         
                         <ul>
                             <div class="dropdown1 col-xs-12 col-sm-12 col-md-12 " style="" >
                                 <div class="dropbtn1">Navigate to.. <i class="fa fa-list-ul" style="color: white; float: right;"></i></div>
                                 
                                  <div class="dropdown-content col-xs-12 col-sm-12 col-md-12">
    <li class="current"><a href="/">Home</a></li>
        <li><a href="/services">Service</a></li>
        <li>
            <a href="/about">About us </a>
            <ul class="dropdown">
                <li><a href="#">Laptops</a></li>
                 
                <li><a href="#">Monitors</a></li>
                <li><a href="#">Printers</a></li>
            </ul>
        </li>
                               
        <li><a href="/contact">Contact</a></li>
                         <li><a href="/properties">Properties</a></li><li>
                         <a href="/news">News</a></li>
                               </div></div></ul></nav>
                              <div class="horizontalnav  ">
     <nav > 
         
         
                         
                         <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Service</a></li>
        <li>
            <a href="/about">About us </a>
            <ul class="dropdown">
                <li><a href="#">Laptops</a></li>
                
                <li><a href="#">Monitors</a></li>
                <li><a href="#">Printers</a></li>
            </ul>
        </li>
                               
        <li><a href="/contact">Contact</a></li>
         <li><a href="/properties">Properties</a></li><li>
         <a href="/news">News</a></li>
         </ul></nav></div></div></div></div></div>
             

         <section id = "content">
             
             <div class = " block-3">
                 <div class = "container page1">
                 <div class = "row">
                     <div class = "col-lg-12 col-sm-12 col-md-12 col-xs-12">
                         <header>
                             <center><h2>Latest news and Articles</h2></center>
                         <p class ="sub_head">Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                         </header>
                         
                     </div>
                     </div>
                     <div class ="row">
                         <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                         <div>
                             <img  class="img-responsive" src ='{% static "img/index-img_1.jpg" %}' alt = "Image">
                             <center><h5>
                             <a href="#">
                                 PRAESENT JUSTO DOLOR, <br>LOBORTIS QUIS, LOBORTIS</a>
                                </h5></center>
                         </div>
                             </div>
                         <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                         <div >
                             <img  class="img-responsive" src = '{% static "img/index-img_2.jpg" %}' alt = "Image">
                             <center><h5>
                             <a href="#">
                                 ALIQUAM CONGUE FERMENTUM NISL<br> VESTIBULUM IACULIS LACIN</a>
                                </h5></center>
                             </div></div>
                         <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                         <div >
                             <img  class="img-responsive" src = '{% static "img/index-img_3.jpg" %}' alt = "Image">
                             <center><h5>
                             <a href="#">
                                 FUSCE EUISMOD CONSEQUAT ANTE<br> LOREM IPSUM DOLOR SIT AMET</a>
                                </h5></center>
                             </div></div>
                     </div>
                 </div>
             </div>
             <div class = "full-width-container block-4">
             <div class = "container">
                 <div class = "row">
                 <div class = "grid_6 col-lg-12 col-md-12 col-sm-12 co-xs-12">
                     <center><h2>OUR MISSION & VISION</h2></center>
                 </div>
                 </div>
                 <div class = "row">
                     <div class = "col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <img class="imgdemo"  src = '{% static "img/index-img_4.jpg" %}' alt = "Image" >
                         <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>
Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem</p>
                     </div>
                      <div class = "col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                         <img  class="imgdemo" src = '{% static  "img/index-img_5.jpg" %}' alt = "Image">
                         <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>
Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem</p>
                     </div>
    
                 </div>
                 </div>
                 
             </div>
             <div class = "full-width-container block-5 " >
             <div class= "container">
                 <div class = "row">
                     <div class ="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <h2>FEATURE PROJECT</h2>
                         <p class = "sub_head">
                             Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem
                         </p>
                     </div>
                 </div>
                 <div  class ="row">
                     <div class ="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                         <a  href =  "img/index-img_full_6.jpg">
                             <img id="myImg1"  src = '{% static "img/index-img_full_6.jpg" %}' alt = "Image">
                         </a>
                         <h4><a href = "#">Project Name</a></h4>
                         <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                     </div>
                      <div class ="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                         <a href =  "img/Lighthouse.jpg">
                             <img id="myImg2"  src = '{% static "img/index-img_full_6.jpg" %}' alt = "Image">
                         </a>
                         <h4><a href = "#">Project Name</a></h4>
                         <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                     </div>
                     <div class ="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        

                             <img id="myImg3"   src = '{% static "img/index-img_full_6.jpg" %}' alt = "Image">
                        
                         <h4><a href = "#">Project Name</a></h4>
                         <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                     </div>
                     <div class ="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                         <a href =  "img/Lighthouse.jpg">
                             <img id="myImg"  src = '{% static "img/index-img_full_6.jpg" %}' alt = "Image">
                         </a>
                         <h4><a href = "#">Project Name</a></h4>
                         <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                     </div>
                 </div>
                 </div>
             </div>
             <!--<div class= " block-6">-->
                <div class="container block-6">
                 <div class = "row">
                     <div >
                         
                         <h2>TESTIMONIALS </h2>
                         <p class = "sub_head">Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</p>
                         <p  class="block-6_element col-lg-12 col-sm-12 col-md-12 col-xs-12">
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
                         </p>
                         <div class = "block-6_item col-lg-offset-5 col-md-offset-4 col-sm-offset-4 col-xs-offset-1  ">
                             <img class="img-circle" src = '{% static "img/index-img_10.jpg" %}' alt="">
                             <div class="arrived"><h4>-TOM LOPES,Client</h4>
                             
                             <p>Company name</p></div>
                         </div>
                     </div>
                 </div>
                 </div>
             <!--</div>-->
             <div >
             <div class="container-fluid block-7" style="background-color: #f5f5f5;">
             
                 <div class = "container">
                     <div class = "row">
                         <div class = "col-lg-12 col-sm-12 col-md-12 col-xs-12">
                             <header>
                                 <center><h2>OUR BROKERS AND AGENTS</h2></center>
                             </header>
                         </div>
                     </div>
                     <div class = "add col-xs-8 col-xs-offset-2  col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0">
                         <h3>robert lee</h3>
                         <p >
                         Rbert is a licensed real estate broker in Louisiana , USA</p>
                         <p id="p1">
                         <span>9867 Mill Road, Cambridge, MG09 99HT. </span><br>
                         <span>Telephone: +1 800 603 6035</span><br>
                         <span>E-mail: <a href="mail@demolink.org">mail@demolink.org</a> </span></p>
                     </div>
                                          <div class = "add col-xs-8 col-xs-offset-2  col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0">
                         <h3>Paul Robertson</h3>
                         <p >
                         Paul is a licensed real estate broker in Mississippi, USA</p>
                         <p id="p1">
                          <span>9870 St Vincent Place,Glasgow, DC 45 Fr 45. </span><br>
                         <span>Telephone: +1 800 603 6035</span><br>
                         <span>E-mail: <a href="mail@demolink.org">mail@demolink.org</a> </span></p>
                     </div>
                                          <div class = "add col-xs-8 col-xs-offset-2  col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0">
                         <h3>Joel grey</h3>
                         <p >
                         Joel is a licensed real estate agent in Texas, USA</p>
                         <p id="p1" >
                          <span>8901 Marmora Road, Glasgow, D04 89GR  </span><br>
                         <span>Telephone: +1 800 603 6035</span><br>
                         <span>E-mail: <a href="mail@demolink.org">mail@demolink.org</a> </span></p>
                     </div>
                 </div>
             </div>
                 </div>
             <div class = "block-8">
                 <div class="container-fluid" >
                 <div class = "container">
                     <div class = "row">
                         <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                             <div>Searching For <strong>Property</strong>? we will help you!</div></div>
                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12 " style="float: right;"  ><a class="btn" href = "#">Contact us now </a></div> 
                         </div>
                     </div>
                 </div>
                 </div>
            
         </section>
        <footer id="footer">
		<div class="container">
			<div class="row">
				<div class="grid_2">
					<div class="logo">
						<h1>
							<a href="#">
								Marshal
								<span>Brokers</span>
							</a>
						</h1>
					</div>
				</div>
				<div class="">
					<nav>
						<ul class="footer-menu clearfix">
                            <li><a href="/news">news</a></li>
							
                            
							<li><a href="/properties">Properties</a></li>
                            <li><a href="/contact">Contacts</a></li>
                            <li><a href="/about">About</a></li>
							<li><a href="/services">Services</a></li>
							
							<li class="current"><a href="">Home</a></li>
						</ul>
					</nav>
					<div class="social">
						<a href="#">Google+</a>
						<a href="#">Skype</a>
						<a href="#">twitter</a>
						<a href="#">facebook</a>
					</div>
                    <div class="grid_12 copyright">
						<p>© <span id="copyright-year">2018</span> All Rights Reserved   |   <a href="#">Privacy Policy</a></p>
							<!--{%FOOTER_LINK} -->
					</div>
				</div>
			</div>
		</div>
		
	</footer>

         
     </body>
</html>   

